{#
/**
 * @file
 * Pattern for address-block.
 *
 */
#}

<div id="address-block">
  <div id="site-wordmark">
    <a href="http://osu.edu" target="_blank"><img src="{{ base_path ~ directory }}/images/osu-logos/wordmark/osu-footer-wordmark-dk-gray.svg" alt="The Ohio State University" /></a>
  </div>
  <div id="site-address">
    <p class="site-name">{{ site_name }}</p>
    <p> Other address info will go here</p>
  </div>
</div>
