# Ignore compiled files.
# dist -- commenting out for now until proper deploy method is ready
vendor

# Pattern Lab (ignored initially)
pattern-lab

# Twig helper functions
**/add_attributes.function.php
# **/bem.function.php -- commenting out for now until proper deploy method is ready

# NPM
node_modules
npm-debug.log

# Git deploy
.publish

# Error logs
yarn-error.log

#OS generated
.DS_Store
