$white: #fff;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4a4a4a;
$gray-darker: #313131;
$gray-darkest: #222;
$black: #000;

$red: #b00;
$red-dark: #800;
$teal: #1c7c89;
$green-dark: #73792d;
$orange-dark: #c04f24;
$violet: #851e5e;
$blue-dark: #476c97;
$purple: #5d3f82;
