$clear: rgba(0, 0, 0, 0);
$white: #fff;
$near-white: #f8f8f8;
$gray-lightest: #ececec;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4a4a4a;
$gray-darker: #333;
$gray-darkest: #222;
$black: #000;

//colors
$red: #b00;
$red-dark: #830000;
$orange-light: #ff7526;
$orange: #d65828;
$orange-dark: #c04f24;
$gold: #dcaa38;
$green-light: #bec841;
$green: #909738;
$green-dark: #73792d;
$aqua: #6ebbab;
$teal: #1c7c89;
$blue-light: #0cbde0;
$sky-blue: #92b0d7;
$blue-dark: #476c97;
$purple: #5d3f82;
$violet: #851e5e;
