@mixin footer($bg-color: $gray-darker, $text-color: $white, $link-hover: $gray-lighter, $pipe-color: $gray-lighter) {
  background: $bg-color;
  color: $text-color;
  padding: 1.5em 0 2em;

  .site-footer__inner {
    @include wrapper;

    a {
      color: $text-color;

      &:hover {
        color: $link-hover;
      }
    }

    .pipe {
      color: $pipe-color;
    }

    .footer-text {
      margin-top: 2em;
      line-height: 125%;
    }
    
    #social-media-block {
      margin-top: 2em;
    }
  }
}

#site-footer,
#site-footer.dk-gray {
  @include footer;
}

#site-footer.md-gray {
  @include footer($gray, $white, $gray-lightest, $gray-lightest);
}

#site-footer.lt-gray {
  @include footer($gray-lightest, $gray-darker, $red, $red);
}

#site-footer.white {
  @include footer($white, $gray-dark, $red, $red);
}
