<footer id="site-footer" class={{ footer_color }}>
  <div class="site-footer__inner">
  
    {% include "@organisms/footer-elements/address-block/address-block.twig" %}
    
    <div class="footer-text">
      
      {# pattern lab demo text #}
      {% if pl_footer_text|length %}
        {{ pl_footer_text }}
      
      {% else %}
      {# drupal site text #}
        {% set footer_text_value = footer_text.value %}
        {% if footer_text_value|length == 0 %}
          {% set footer_text_value = ' ' %}
        {%  endif %}
          {% set text_value = {
            '#type':   'processed_text',
            '#text':    footer_text_value,
            '#format':  footer_text.format,
          } %}
        {{text_value}}
        
      {% endif %}
      
    </div>{# end .footer-text #}
    
    {% include "@organisms/footer-elements/social-media-links/social-media-links.twig" %}
    
  </div>{# end .site-footer__inner #}
</footer>
