<header class="header">
  <div class="navigation">
    {% include "@organisms/osu-navbar/osu-navbar.twig" %}
    {% include "@organisms/masthead/masthead.twig" %}
    {{ content }}
  </div>
</header>
