#masthead {
  background: $near-white;
  @include clearfix;
  padding: 2em 0;
}
#site-name {
  float:left;
  font-size: 2.4rem;
  font-weight: 600;
  a {
    text-decoration: none;
  }
}
#site-logo {
float: right;
  img {
    height: 150px;
  }
}