<header id="site-header">
  <div class="navigation">
    {% include "@organisms/header-elements/osu-navbar/osu-navbar.twig" %}
    {% include "@organisms/header-elements/masthead/masthead.twig" %}
  </div>
</header>
