<header class="header">
  <div class="navigation">
    {% include "@molecules/osu-navbar/osu-navbar.twig" %}
    {% include "@molecules/masthead/masthead.twig" %}
    {{ content }}
  </div>
</header>
