<header id="site-header">
  <div class="navigation">
    {% include "@molecules/10-header-elements/osu-navbar/_osu-navbar.twig" %}
    {% include "@molecules/10-header-elements/masthead/_masthead.twig" %}
  </div>
</header>
