#osu_navbar {
  background: #ececec;
  border-bottom: 5px solid $red;

  .navbar__inner {
    @include wrapper;
  }

  p {
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  .univ_info {
    float: left;
    padding: 1em 0 0.9em;
  }

  .univ_name a {
    height: 16px;
    width: 80px;
    margin-left: 0;
    display: block;
    text-indent: -9999px;
    background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/osu_name.png) 0 0 no-repeat;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/osu_name@2x.png) 0 0 no-repeat;
      background-size: contain;
    }
  }

  .univ_links {
    float: right;
    clear: none;
    padding: 1em 0 0;
    margin-top: -2px;

    .links {
      float: left;

      ul {
        margin: 0;
        margin-top: -2px;

        li {
          font-size: 13px;
          list-style: none;
          float: left;
          margin-right: 0.5em;

          @include large {
            margin-right: 1.25em;
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            height: 23px;
            width: 23px;
            display: block;
            overflow: hidden;
            text-indent: -999px;
            background: 0 0 no-repeat;
            color: #333;
            text-decoration: none;

            @include large {
              text-indent: 0;
              width: auto;
              background: none !important;

              &:hover {
                text-decoration: underline;
              }
            }

            &.help { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-help.png); }
            &.buckeyelink { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-buckeyelink.png); }
            &.map { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-map.png); }
            &.findpeople { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-findpeople.png); }
            &.webmail { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-webmail.png); }
            &.search { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-search.png); }

            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
              &.help { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-help@2x.png); }
              &.buckeyelink { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-buckeyelink@2x.png); }
              &.map { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-map@2x.png); }
              &.findpeople { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-findpeople@2x.png); }
              &.webmail { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-webmail@2x.png); }
              &.search { background: url(https://www.osu.edu/assets/web/navbar/osu_navbar/images/resp-search@2x.png); }

              -webkit-background-size: 23px !important;
              -moz-background-size: 23px !important;
              background-size: 23px !important;
            }
          }
        }
      }
    }
  }
}
